@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "BabyFont";
  src: url("/font/baby-font.otf") format("opentype");
}

@font-face {
  font-family: "CinemaCartoon";
  src: url("/font/CinemaCartoon.otf") format("opentype");
}

:root {
  --background: #ffffff;
  --foreground: #456a5c;
  --secondary: #8cd700;
  --divider: #cadaa9;
  --babyCare: #bcddc4;
  --personalCare: #8200db;
  --ternary: #9352bf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-divider: var(--divider);
  --color-babyCare: var(--babyCare);
  --color-personalCare: var(--personalCare);
  --color-ternary: var(--ternary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--montserrat);
  --font-amatic: var(--font-amatic);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --font-secondary: var(--font-montserrat);
  --font-primary: var(--font-cormorant);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/* @layer utilities {
  section {
    @apply container h-auto mx-auto py-8 px-4 sm:px-6 lg:px-6 max-w-7xl;
  }
} */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transition: background-color 0.8s cubic-bezier(0.22, 1, 0.36, 1); */
}

/* Lenis smooth scroll styling */
html.lenis,
html.lenis body {
  height: auto;
}

.baby {
  font-family: "BabyFont", sans-serif;
}
.CinemaCartoon {
  font-family: "CinemaCartoon", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

/* Smooth transitions */
/* * {
  transition-property:
    background-color, border-color, color, fill, stroke, transform, translate,
    scale;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
} */

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top .shape-fill {
  fill: #fff;
}


/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top svg {
    width: calc(100% + 1.3px);
    height: 97px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top svg {
    width: calc(100% + 1.3px);
    height: 33px;
  }
}
.custom-shape-divider-bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom svg {
    width: calc(100% + 1.3px);
    height: 97px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom svg {
    width: calc(100% + 1.3px);
    height: 33px;
  }
}

/* Floating animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes floatNormal {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.float-animation {
  animation: float 5s ease-in-out infinite;
}

.float-animation-delayed {
  animation: floatNormal 5s ease-in-out infinite;
  animation-delay: 0.3s;
}
